body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#pluginsList {
  position:fixed;
  top:10px;
  right:10px;
}

.ui-dialog-titlebar {
  display:none;
}