@import "mixins.less";
@import "font-awesome.less";

//Colours
@primaryTxtColor:#72706D;


@backgroundColor:#312F2A;

@widgetBackgroundColor:#26241F;
@widgetBorder:#0D0B08;

@titleBxGradientTop:#312F2A;
@titleBxGradientBottom:#26241F;

@white:#fff;
@black:#000;
@lightGray:#B3B2B0;
@mediumGray:#474440;
@darkGray:#191715;
@green:#9ECC33;
@blue:#4BB3D2;
@pink:#D94D4D;
@orange:#D98621;

@font-size:1em;

@textShadow:0 -0.1em @black;

//Fonts

@FontA:"BebasNeue-webfont";

@baseFontFamily: @FontA,Helvetica, Arial, sans-serif;
@sansSerifFamily:Arial, Helvetica, sans-serif;

@borderBottomColor:#999;

@font-face {
    font-family: @FontA;
    src: url('../fonts/@{FontA}.eot');
    src: url('../fonts/@{FontA}.eot?#iefix') format('embedded-opentype'),
         url('../fonts/@{FontA}.woff') format('woff'),
         url('../fonts/@{FontA}.ttf') format('truetype'),
         url('../fonts/@{FontA}.svg#@{FontA}') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	background:url("../images/bodyBk.png") repeat 0 0 @backgroundColor;
	font-family:@baseFontFamily;
  color: @primaryTxtColor;
  line-height:inherit;
}

ul{margin: 0;padding: 0;list-style:none}
p{margin:0;line-height:inherit;font-family:@baseFontFamily;}

.display-block(@w,@h){
  width:@w;
  height:@h;
  display:block;
}

.positive{
  color:@green !important;
  *{
    color:@green !important;
  }
}
.negative{
  color:@pink !important;
  *{
    color:@pink !important;
  }
}

.widget-general{ 
  @widgetBorderRadius:0.5em;
  @titleBoxHeight: 2em;
  @borderThickness: 0.08em;
  @settingsWidth: 2em;
  .border-radius(@widgetBorderRadius);
  background:@widgetBackgroundColor;
  border-top:0.07em solid @black;
  border-bottom:0.07em solid darken(@lightGray,10%);
  height: 100%;
  
	.titleBox{
    #gradient > .vertical(@titleBxGradientTop,@titleBxGradientBottom);
    .border-radius(@widgetBorderRadius @widgetBorderRadius 0 0);
    .box-shadow(0 @borderThickness @mediumGray);
    position: relative;
		height: @titleBoxHeight;
		overflow: hidden;
		border-bottom: @borderThickness solid @widgetBorder; /* pixel, problema */
    
		.title {
      @paddingRight: 0em;
      @paddingLeft:1em;
      @paddingTop: 0em; /* use em for y padding because the parent use em for height *//*try (@titleBoxHeight - @font-size)/2*/
      @paddingBottom: 0em; /* note: use 0em instead of 0 to not forget the unit to use */
      padding: @paddingTop @paddingRight @paddingBottom @paddingLeft;
      float: left;
       /* reset the browser font-size (e.g. h3 has 1.17em in firefox) */
      height:100%;
      line-height:2em;
      margin: 0;
      
      font-size: @font-size;
      font-family:@sansSerifFamily;
      text-transform:uppercase;
      color: @lightGray;   
      text-shadow:@textShadow;
      i{float:left;margin-right:1em;}
      i + p{float:left;}
		}
    
    /********** Settings ************/
    .settings{
      /* dimensions */
      #gradient > .vertical(@titleBxGradientTop,@titleBxGradientBottom);
      .box-shadow(-@borderThickness 0 @mediumGray);
      .border-radius(0 @widgetBorderRadius 0 0);
      position:absolute;
      color: @mediumGray;
      text-decoration:none;
      top:0;
      right:0;
      bottom:0;
      width:@settingsWidth;
      text-align: center;
      text-shadow:@textShadow;          
      line-height: @titleBoxHeight;
      border-left: @borderThickness solid @widgetBorder; /* pixel, problema */
      &:hover{
        #gradient > .vertical(lighten(@titleBxGradientTop,5%),lighten(@titleBxGradientBottom,5%));
        color: lighten(@mediumGray,15%);
      }
    }

	}
  
  /********** Data Container ************/
	.dataContainer{
	  /*position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    
    margin-top: @titleBoxHeight + @borderThickness;
    */
    padding:1em 1em 1em 1em;
    
	  // overflow:hidden;
    text-align:center;
	  p,.colon{
	    text-shadow:@textShadow;
	    text-align:left; 
	  }
    
    /********** Data Row ************/
    .dataRow{
      color: @blue;
      font-size: 2em;
      & + .percentage{
        color: lighten(@blue,15%);
      }
      &.positive{
          color: @green;
        & + .percentage {
          color: lighten(@green,15%);
        }
        }
      &.negative{
          color:@pink;
       & + .percentage {
          color: lighten(@pink,15%);
        }
      }
    }
    .percentage{
      font-size:1.5em;
      color:#000;
    }
    
    &.full-space {
      padding:0;
    }
  }
}

  /********** Led ************/

  .ledWrapper{
    @led-size:4em;
    @led-color:@mediumGray;
    display: inline-block; 
    margin:0 1em;
    .led{
      .border-radius(100%);
      font-size:@font-size;
      display:inline-block;
      vertical-align: middle; 
      width:@led-size;
      height:@led-size;
      background:@led-color;
      span{
        .box-sizing(border-box); 
        .display-block((@led-size - @led-size/10),(@led-size - (@led-size/10) );
        .border-radius(100%);
         #gradient > .vertical(lighten(@led-color,10%),darken(@led-color,10%));
        .box-shadow(inset 0 -(@led-size/20) rgba(0,0,0,0.6));
        border-top: (@led-size/20) solid rgba(255,255,255,0.6);     
        margin:(@led-size/10)/2;
      }      
    }
    p{
        display: block;
        color: @led-color;
        font-family:@sansSerifFamily;
        text-transform:uppercase;
        font-size: @led-size/5;
        line-height:(@led-size/5)*2;
        margin:@led-size/5 0;
        text-align:center;
      }
    @box-shadow-blur:@led-size/6;
    &.ok{
         @led-color:@green;
        .led{
          .box-shadow(0 0 @box-shadow-blur @led-color);
          background:@led-color;
        }
        span{
          #gradient > .vertical(lighten(@led-color,10%),darken(@led-color,10%));
        }
        p{
          color: @led-color;
        }
      }
      &.error{
         @led-color:@pink;
         .led{          
          .box-shadow(0 0 @box-shadow-blur @led-color);
          background:@led-color;
         }
        span{
          #gradient > .vertical(lighten(@led-color,10%),darken(@led-color,10%));
        }
        p{
          color: @led-color;
        }
      }
      &.warning{
          @led-color:@orange;
        .led{  
          .box-shadow(0 0 @box-shadow-blur @led-color);
          background:@led-color;
        }
        span{
          #gradient > .vertical(lighten(@led-color,10%),darken(@led-color,10%));
        }
        p{
          color: @led-color;
        }
      }

  /********** Led Row ************/

    &.ledRow{
      @led-size:1em;
      // .border-radius(@led-size/1.5);
      .box-shadow(inset 0 -@led-size/15 @black);
      text-align:left;
      width:100%;
      // height:@led-size;
      padding: @led-size*0.8 0;
      margin: 0;
      border-bottom:@led-size/10 solid rgba(255,255,255,0.3);

      p{
        text-transform:none;
        text-align: left;
        display: inline-block;
        line-height:@led-size;
        margin:0 0 0 @led-size;
        font-size: @led-size;
        height:1em;
        font-weight:bold;
        width:85%;
        span{
          font-weight:normal;
          font-size:@led-size*0.8;
          margin-top:@led-size*0.5;
          display:block;
          background:none !important;
        }
      }
      .led{
        font-size:@font-size;
        width:@led-size;
        height:@led-size;
        float:right;
        margin:0 @led-size 0 0;
        span{
          .display-block((@led-size - @led-size/10),(@led-size - (@led-size/10) );
          .box-shadow(inset 0 -(@led-size/20) rgba(0,0,0,0.6));
          border-top: (@led-size/20) solid rgba(255,255,255,0.6);     
          margin:(@led-size/10)/2;
        }

      }
      @box-shadow-blur:@led-size/6;
    &.ok{
         @led-color:@green;
        .led{
          .box-shadow(0 0 @box-shadow-blur @led-color);
          background:@led-color;
        }
        span{
          #gradient > .vertical(lighten(@led-color,10%),darken(@led-color,10%));
        }
      }
      &.error{
         @led-color:@pink;
         .led{          
          .box-shadow(0 0 @box-shadow-blur @led-color);
          background:@led-color;
         }
        span{
          #gradient > .vertical(lighten(@led-color,10%),darken(@led-color,10%));
        }
      }
      &.warning{
          @led-color:@orange;
        .led{  
          .box-shadow(0 0 @box-shadow-blur @led-color);
          background:@led-color;
        }
        span{
          #gradient > .vertical(lighten(@led-color,10%),darken(@led-color,10%));
        }
      }
      &:nth-child(2n){
        background:lighten(@backgroundColor,1%);
      } 
    }
  }

 /********** Time + Calendar ************/

  .time{
    @timeFontSize:4em;
    display: inline-block;
    // margin:5% 20%;
    .singlePart{
      display: inline-block;
       .timeIntSx,.timeIntDx{
        color:@black;
        font-size:@timeFontSize;
        display:inline-block;
        // width:(@timeFontSize/1.5)/8 - ((@timeFontSize/1.5)/20)*2;
        // margin:0 (@timeFontSize/1.5)/20;
        .timePartTop{
          .border-radius(@timeFontSize/100 @timeFontSize/100 0 0);
          #gradient > .vertical(@white,lighten(@black,30%));
          .box-shadow(inset 0 -0.03em @black);
          border-bottom:0.03em solid @lightGray;
          padding:0 @timeFontSize/100;
          margin:0 @timeFontSize/200;
          background-color: #DDD;
          height:0.5em;
          line-height:1em;
          overflow: hidden;
        }
        .timePartBottom{
          .timePartTop;
          .box-shadow(0 0.05em @lightGray);
          .border-radius(0 0 @timeFontSize/100 @timeFontSize/100);
          border-bottom:none;
          line-height:0;
        }
      }
    }
    .colon{
    display: inline-block;
    font-size: @timeFontSize;
    height: 1em;
    line-height: 1em;
    vertical-align: top;
    }
    p{
      text-align: center;
      font-size:@timeFontSize/3;
    }
    &.calendar{
      width:100%;
      .singlePart{
        width:100%;
        .timeIntSx{
          width:100%;
          .timePartTop,.timePartBottom{
            color: @white;
            background: none !important;
            margin:0;
          }
          .timePartTop{
            margin-top:@timeFontSize/40;
          }
          .timePartBottom{
            .box-shadow(none);
            height:@timeFontSize/12;
          }
        }
      }
      p{
        text-align: center;
        font-size:@timeFontSize/2;
        margin-bottom:@timeFontSize/20;
      }
    }
  }
  

  /******** List ************/
  .widget-feed {
    
    overflow: hidden;
    
    .feed {
      &.no-timestamp .date {
        display: none;
      }
      &.no-summary .message {
        display: none;
      }
      
      .entry{
        @itemSize:1em;
        .ledWrapper.ledRow;
        padding:@itemSize*0.5 0 0 0;
        /*height:@itemSize*5;*/
        list-style: none;
        .imgWrapper{
          height:100%;
          width:@itemSize*2.5;
          float:left;
          margin-right:@itemSize;
        }
        .imgStyle{
          .display-block(@itemSize*2,@itemSize*2);
          .border-radius(@itemSize/2);
          float: left;
          border:@itemSize/4 solid @black;
          background:@lightGray;
          overflow: hidden;
          margin:0 auto;
          img{
            width:150%;
            margin-left:-25%;
          }
        }
        .textWrapper{
          .box-sizing(border-box);
          color: @white;
          font-size:@itemSize/1.2;
          font-family: @sansSerifFamily;
          // min-width:90%;
    
          text-shadow:@textShadow;
          h4{
            font-size:@itemSize;
            margin:0;
          }
          .message{
            margin:@itemSize*0.2 0 @itemSize/2;
            line-height:@itemSize*1.2;
            height:@itemSize*2;
            color:@lightGray;
          }
          .date{
            font-size:@itemSize/1.4;
            color:lighten(@mediumGray,15%);
          }
        }
        &:nth-child(2n){
          background:none;
        }
      }
    }
  }
  
  .item2{     
      @itemSize:1em;
      .box-shadow(inset 0 -@itemSize/15 @black);
      text-align:left;
      width:100%;
      height:@itemSize;
      padding: @itemSize*0.7 0;
      margin: 0;
      border-bottom:@itemSize/10 solid rgba(255,255,255,0.3);
      i{
        text-shadow: @textShadow;
        margin:0 0 0 @itemSize*0.5;
      }
      p{
        font-family:@sansSerifFamily;
        text-transform:none;
        text-align: left;
        display: inline-block;
        line-height:@itemSize;
        margin:0 0 0 @itemSize*0.5;
        font-size: @itemSize;
        height:@itemSize;
      }
      span{
          text-shadow: @textShadow;
          font-family:@baseFontFamily;
          float:right;
          font-size:@itemSize*1.5;
          height:@itemSize;
          line-height:@itemSize;
          margin:0 @itemSize*0.5 0 0;
      }
      &:nth-child(2n){
        background:lighten(@backgroundColor,1%);
      } 
    &.positive{
      color:@green;
      p{
        color: lighten(@green,15%);
      }
    }
    &.negative{
      color:@pink;
      p{
        color: lighten(@pink,15%);
      }
    }
  }
  
   /******Table********/
  .table{
    .titRow{
      .item2;
      #gradient > .vertical(@titleBxGradientTop,@titleBxGradientBottom);
     .border-radius(@itemSize*0.5 @itemSize*0.5 0 0);
      display:block;
      .col1,.col2,.col3{
        font-weight:bold;
        color:@white !important;
        &:hover{
          text-decoration:none;
        }
      }
    }
    .col1{
      color:@lightGray;
      font-family:@sansSerifFamily;
      width:53%;
      padding-right:4%;
      padding-left:3%;
      float:left;
      font-size:@itemSize*0.8;
      text-align:left;
      text-shadow:@textShadow;
      text-overflow: ellipsis;
      overflow:hidden;
      white-space:nowrap;
      text-decoration:none;
        &:hover{
          text-decoration:underline;
        }
       
    }
    .col2{
      .col1;
      padding-left:0;
      float:left;
      width:20%;
      margin-right:0;
      padding-right:0;
    }
    .col3{
      .col2;
      width:19%;
      padding-right:1%;
    }
    ul{
      li{
        display:block;
        clear:both;
      }
    }
  }
  
  
  /******** Level ************/
  
  .widget-noiselevel {
    
    @itemSize:0.8em;
    
    .dataContainer {
        padding:0;
        position:relative;
        
        .positive .level .value {
          background:@green;
        }
        .negative .level .value {
          background:@pink;
        }
        .equal .level .value {
          background:@blue;
        }
        
        .mask {
          position:absolute;
          top:0;
          left:50%;
          z-index:1001;
          margin-left:-@itemSize*6.8/2;
          
          svg {
            height:@itemSize*12.6;
            width:@itemSize*6.8;
          }
          
        }
        
        .level {
          .display-block(@itemSize*6.5,@itemSize*12.5);
          background:@mediumGray;
          position:relative;
          z-index:1000;
          margin:@itemSize auto;
          
          .value {
            .display-block(@itemSize*6.5,20%);
            position:absolute;
            bottom:0;
            left:0;
            z-index:999;
          }
          
        }
        
    }
    
    
  }
  
  
  /****** Percentage Box ************/
 
 .percentageBox{
    @fontSize:0.8em;
   .display-block(@fontSize*2,@fontSize);
   .border-radius(@fontSize/5);
   margin:0 auto @fontSize/2;
   color:@blue;
   padding:@fontSize/4;
   font-size:@fontSize*3;
   line-height:1em;
   background:@darkGray;
   border-top:@fontSize/20 solid @black;
   border-bottom:@fontSize/20 solid rgba(255,255,255,0.5);
   text-shadow: @textShadow;
 }
  
  /****** Counter ************/
  @itemSize:0.8em;
  .widget-gauge .dataContainer{
    padding:0;
    position:relative;
  }
.segments{
  fill:@pink;
}
#segment1,#segment2,#segment3{
  fill:@green;
}
.pointerMask{
  .rotate(135deg);
  position:absolute;
  top:@itemSize*8;
  height:@itemSize*1.2;
  left:50%;
  z-index:1001;
  margin-left:-@itemSize*14/2;
    svg{
    height:@itemSize*2;
    width:@itemSize*14;
    margin-top:@itemSize*-0.4;
    }
  }
.counterMask{
  margin-bottom:@itemSize*-2;
    svg{
    height:@itemSize*12.5;
    width:@itemSize*16;
    }
  }
  
/****** VIDEO ******/
  .dataContainer.video{    
    height:20em;
    .videoFrame{
      // .border-radius(1em);
      height:100%;
      overflow:hidden;
    }
  }
  
  
/****** SCROLLBAR ******/
.scrollbar{
  height:10em;
}
.lb-v-dummy { width: 100%; display: block; height: 0.5em; }
// .lb-h-dummy { height: 100%; display: block; width: 1px; }
.lb-clear { clear: both; }
.lb-wrap { z-index: 0; overflow: auto; position: relative; }
.lb-v-scrollbar {
  .border-radius(1em);
   z-index: 1;
   position: absolute;
   right: 0;
   top: 0.1em;
   width: 0.5em; 
   height: 100%; 
   background: transparent;
    }
// .lb-h-scrollbar { z-index: 1; position: absolute; bottom: 2px; left: 2px; width: 100%; height: 7px; background: #cfcfcf; opacity: 0.3; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; }
.lb-v-scrollbar-slider { 
  position: absolute; 
  width: 7px; 
  height: 50px; 
  left: 0; 
  top: 0; 
  background:@mediumGray;
   border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; }

// .lb-h-scrollbar-slider { position: absolute; height: 7px; width: 50px; left: 0; top: 0; background: #000; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; }


/****** DIALOG ******/

.conf{
  .border-radius(10px);
  .box-shadow();
  .box-sizing(border-box);
  text-shadow:@textShadow;
  width:415px;
  height:600px;
  background:@widgetBackgroundColor;
  font-family:@sansSerifFamily;
  border-bottom:1px solid darken(@lightGray,10%);
  overflow:hidden;
    p{font-family:@sansSerifFamily;}
    .titleBox{
    .box-shadow(0 1px @mediumGray);
      #gradient > .vertical(@titleBxGradientTop,@titleBxGradientBottom);
      .border-radius(10px 10px 0 0);
      padding:5px 15px;
      color:@white;
      font-size:18px;
      position: relative;
      height: 2em;
      line-height:2em;
      overflow: hidden;
      border-bottom: 1px solid @widgetBorder;
       .title{
         float:left;
       }
       a{
         float:right;
         color:@white;
         &:hover{
           color:@lightGray;
           text-decoration:none;
         }
       }
      .closeBtn,.deleteBtn{
        /* dimensions */
         #gradient > .vertical(@titleBxGradientTop,@titleBxGradientBottom);
         .box-shadow(-1px 0 @mediumGray);
        .border-radius(0 10px 0 0);
        position:absolute;
        color: @mediumGray;
        text-decoration:none;
        top:0;
        right:0;
        bottom:0;
        width:45px;
        text-align: center;
        text-shadow:@textShadow;          
        line-height: 2em;
        line-height:46px;
        border-left: 1px solid @widgetBorder; /* pixel, problema */
      &:hover{
          #gradient > .vertical(lighten(@titleBxGradientTop,5%),lighten(@titleBxGradientBottom,5%));
          color: lighten(@mediumGray,15%);
      }
    }
    .deleteBtn{
      .border-radius(0);
      right:47px;
    } 
  }
  .scrollbar{
    height:554px;
    .lb-v-scrollbar{
      .border-radius(0);
      width:10px;
      right:0;
      background:@lightGray;
    }
    .lb-v-scrollbar-slider{
      width:10px;
    }
  }
  .control-group{
    .box-sizing(border-box);
    width:99%;
    padding:15px 15px 0 15px;
    margin-bottom:0;
    p.error{
      display:none;
    }
  &.error{
      b{
        color:#B94A48;
      }
      .description{
        display:none;
      }
      .error{
        display:block;
      }
    }
  }
  fieldset.control-group{
    padding:0;
  }
  b{
    color:@white;
    margin-top:10px;
  }
  legend{
    color:@white;
    width:auto;
    border-bottom:none;
    margin-bottom:0;
  }
  .control-label{
    color:@white;
    text-align:left;
    width:100%;
    font-weight:bold;
  }
  .controls{
    margin-left:0;
    input[type="text"]{margin-top:10px;}
  }
  .data-source{
    .border-radius(10px);
    .box-sizing(border-box);
    padding:10px;
  }
  .input-xlarge{
    width:96%;
    margin-bottom:0;
  }
  .help-block{
    color:@lightGray;
    margin-top:0;
    font-weight:normal;
  }
  .radio{
    clear:both;
    color:@lightGray;
    float:left;
    padding-top:0 !important;
  }
  .checkbox{
    clear:both;
    color:@lightGray;
  }
  .inputWrapper{
    float:left;
    width:94%;
    margin-bottom:15px;
    label{color:@lightGray;}
    input{
      margin-top:0 !important;
      width:100%;
    }
  }
  .btn{
    width:150px;
    margin:15px;
  }
  .btn-danger{
    float:right;
    margin-right:30px;
  }
}
