{% extends "layout.html" %}

{% block content %}

<div id="dashboard">
</div>

{% endblock %}


{% block javascript %}
{% parent %}

<script>
  require(['main'],function(main){
    
    main.init({user_id : '{{ user_id }}'});
    
    require(['jquery','dashboard'],function($,dashboard){
      
      $(document).ready(function($){
        dashboard.init($('#dashboard'));
      })
      
    });
  });
    
</script>

{% endblock %}

{% block stylesheet %}
{% parent %}

<link rel="stylesheet" href="/css/jquery-ui-1.8.18.custom.css" />
<style type="text/css">

html,body {
    height: 100%;
    margin:0;
    padding:0;
}

body {
    background-color: #C8CFD0;
}

#dashboard {
    margin: 0 auto;
}


</style>
{% endblock %}