{% extends "layout.html" %}

{% block content %}

<div id="dashboard">
    <div class="g-box g-width-4 g-height-3 g-pos-x-4 g-pos-y-6" style="background-color:#ddd">
        <span>This is not a test</span>
        <br/>
        <span class="drag-handle">grab handle</span>
    </div>
    <div class="g-box g-width-3 g-height-4 g-pos-x-8 g-pos-y-7" style="background-color:#abc">
        <span>This is not a test</span>
        <br/>
        <span class="drag-handle">grab handle</span>
    </div>
</div>

{% endblock %}


{% block javascript %}
{% parent %}

<script>
  require(['main'],function(main){
    
    main.init('{{ user_id }}');
    
    require(['jquery','dashboard'],function($,dashboard){
      
      $(document).ready(function($){
        dashboard.init($('#dashboard'));
      })
      
    });
  });
    
</script>

{% endblock %}

{% block stylesheet %}
{% parent %}

<link rel="stylesheet" href="/css/jquery-ui-1.8.18.custom.css" />
<style type="text/css">

html,body {
    height: 100%;
    margin:0;
    padding:0;
}

body {
    background-color: #C8CFD0;
}

#dashboard {
    margin: 0 auto;
}


</style>
{% endblock %}