<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title></title>
  
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  
  <meta name="viewport" content="width=device-width" />
  
  {% block metarobots %}{% endblock %}
  
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  
  {% block reset_css %}
  <link rel="stylesheet" href="/css/normalize.css" />
  {% endblock %}
   
  {% block stylesheet %}
  <link rel="stylesheet" href="/css/main.css" />
  {% endblock %}
  
  {% block head_javascript %}
     {# here goes javascript code that for some rare reason should go in the head tag #}
     <!-- when ready pass to a custom version of modernizr -->
     <script src="/js/modernizr.js"></script>

  {% endblock %}

</head>
<body id="body">

    {% block content %}{% endblock %}
    
    {% block javascript %}
      {# most of the javascript code should be here #}
      <script src="/js/jquery-1.7.1.min.js"></script>
      <script src="/js/underscore-min.js"></script>
      <script src="/js/backbone-min.js"></script>
      <script src="/js/backbone.modelbuilding.min.js"></script>
      <script src="/js/main.js"></script>
      <script src="/socket.io/socket.io.js"></script>
    {% endblock %}

</body>
</html>