{% extends "layout.html" %}

{% block content %}

{% if not session.user %}
    
    <form action="{{ routing.login }}" method="POST">
        {% if errors.login %}
        <span class="error">{{ errors.login }}</span>
        {% endif %}
        
        <div class="field">
            <label for="login">Username</label>
            <input id="login" type="text" name="login[username]" value="" />
            {% if errors.username %}
            <span class="error">{{ errors.username }}</span>
            {% endif %}
        </div>
        
        <div class="field">
            <label for="password">Password</label>
            <input id="password" type="password" name="login[password]"/>
            {% if errors.password %}
            <span class="error">{{ errors.password }}</span>
            {% endif %}
        </div>
        <input type="submit" value="login"/>
    </form>
    <p>New user? <a href="{{ routing.register }}">register</a></p>
{% else %}
    <p>{{ session.user.email }}<a href="{{ routing.logout }}">(logout)</a></p>
{% endif %}

{% endblock %}
