{% extends "layout.html" %}

{% block content %}

<h2>{{ user.name.first }} {{ user.name.last }}</h2>

{# if not active and we're using emails, show a link to have sent a confirmation e-mail #}

<form action="{{ url_user_settings }}" method="POST">
    {% if errors.generic %}
    <span class="error">{{ errors.generic }}</span>
    {% endif %}
    
    <div class="field">
        <label for="first_name">First name</label>
        <input id="first_name" type="text" name="name[first]" value="{{ user.name.first }}"/>
        {% if errors.first_name %}
        <span class="error">{{ errors.first_name }}</span>
        {% endif %}
    </div>
    
    <div class="field">
        <label for="last_name">Last name</label>
        <input id="last_name" type="text" name="name[last]" value="{{ user.name.last }}"/>
        {% if errors.last_name %}
        <span class="error">{{ errors.last_name }}</span>
        {% endif %}
    </div>
    
</form>

<div id="services">
    
    {% if not user.services %}
    <span>No services configured yet</span>
    {% endif %}
    
</div>

<button id="new-service" onclick="return false">new service</button>

<script type="text/template" id="service-template">
    <div class="service" data-id="<%- service._id %>">
        <div>
            <label>description</label>
            <input class="desc" type="text" />
        </div>
        <div><label>hash</label><span><%- service._id %></span></div>
        <div><label>last update</label><span><%- service.updated_at %></span></div>
        <div><label>last value</label><span><%- service.last_value %></span></div>

        <button class="save">save</button>
        <button class="delete">delete</button> 
    </div>
</script>

{% endblock %}

{% block javascript %}
{% parent %}

<script type="text/javascript">

require(['jquery','user_settings'],
    function($,userSettings){
        
        var user_id = '{{ user._id }}';
        var startingServices = {{ user.services|json_encode|raw }};
        
        var settings = userSettings.init(user_id);
        
        $(document).ready(function($) {
            
            settings.render($('#services'),startingServices);
            
            $('#new-service').click(function(ev){
                settings.add_service();
            });
        });
    
});
</script>

{% endblock%}