{% extends "layout.html" %}

{% block content %}

<h2>{{ user.name.first }} {{ user.name.last }}</h2>

{# if not active and we're using emails, show a link to have sent a confirmation e-mail #}

<form action="{{ url_user_settings }}" method="POST">
    {% if errors.generic %}
    <span class="error">{{ errors.generic }}</span>
    {% endif %}
    
    <div class="field">
        <label for="first_name">First name</label>
        <input id="first_name" type="text" name="name[first]" value="{{ user.name.first }}"/>
        {% if errors.first_name %}
        <span class="error">{{ errors.first_name }}</span>
        {% endif %}
    </div>
    
    <div class="field">
        <label for="last_name">Last name</label>
        <input id="last_name" type="text" name="name[last]" value="{{ user.name.last }}"/>
        {% if errors.last_name %}
        <span class="error">{{ errors.last_name }}</span>
        {% endif %}
    </div>
    
</form>

<div id="services">
    
    {% if user.services %}
    {#
    {% for service in user.services %}
        <div class="service" data-id="{{ service._id }}">
            <div><label>description</label><span>{{ service.desc }}</span></div>
            <div><label>hash</label><span>{{ service._id }}</span></div>
            <div><label>last update</label><span>{{ service.updated_at }}</span></div>
            <div><label>last value</label><span>{{ service.last_value }}</span></div>
            <button class="delete">delete</button> 
        </div>
    {% endfor %}
    #}
    
    {% else %}
    
    <span>No services configured yet</span>
    
    {% endif %}
    
    
</div>

<button id="new-service" onclick="return false">new service</button>

<script type="text/template" id="service-template">
    <div class="service" data-id="<%- service._id %>">
        <div><label>description</label><span><%- service.desc %></span></div>
        <div><label>hash</label><span><%- service._id %></span></div>
        <div><label>last update</label><span><%- service.updated_at %></span></div>
        <div><label>last value</label><span><%- service.last_value %></span></div>
        <button class="delete">delete</button> 
    </div>
</script>

{% endblock %}

{% block javascript %}
{% parent %}

<script type="text/javascript">
$(document).ready(function($){

    var user_id = '{{ user._id }}';
    var startingServices = {{ user.services|json_encode|raw }};
    
    var ServiceModel = Backbone.Model.extend({
        defaults : {
            _id : undefined,
            desc : "",
            last_value : "",
            updated_at : null
        },
        idAttribute: '_id',
        url: function(){
            var _id = this.get('_id');
            return '/api/service/'+user_id+(_id ? '/'+_id : '');
        },
        initialize : function(){
            
        }
        
    });
    
    var ServicesCollection = Backbone.Collection.extend({
        model: ServiceModel,
        url : '/api/services/'+user_id
    });
    
    
    var ServiceViewClass = Backbone.View.extend({
        tagName: "div",
        className : "",
        
        events : {
            "click button.delete" : "delete_model"
        },
        
        template: _.template($("#service-template").html()),
    
        initialize: function(){ 
            _.bindAll(this, 'render', 'remove','delete_model');
            this.model.bind('change', this.render);
            this.model.bind('destroy', this.remove);
        },
        render: function(){
            var html = this.template({'service':this.model.toJSON()});
            this.$el.html(html);
            return this;
        },
        remove: function(){
            this.$el.remove();
        },
        delete_model: function(){
            this.model.destroy();
        }
    });
    
    
    var ServiceListViewClass = Backbone.View.extend({
        initialize: function(){
            this.setElement($('#services'));
            
            _.bindAll(this, 'render');
            
            this.collection.on('change add reset', this.render);
            // XXX on change and add should modify/append just that element
            
        },
        render: function(){
            this.$el.html('');
            _.each(this.collection.models,
                function(model,idx,list){
                    var view = new ServiceViewClass({'model':model});
                    view.render();
                    this.$el.append(view.el);
                },
                this);
            return this;
        }
    });
    
    
    var services = new ServicesCollection();
    
    var servicesListView = new ServiceListViewClass({'collection':services});
    services.reset(_.map(startingServices,function(x){ return new ServiceModel(x);}));
    
    $('#new-service').click(function(ev){
        var newService = new ServiceModel();
        newService.save();
        services.add(newService);
    });
    
    
});
</script>

{% endblock%}