<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Dashboard</title>
		<link rel="stylesheet" type="text/css" href="../public/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css" />
		<link rel="stylesheet/less" type="text/css" href="../public/less/style.less">
		<script src="../public/js/less.min.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="widget-<%-jsonModel.type %> conf template">
			<div class="titleBox">
				<div class="title">
					Settings
				</div><a href="" class="closeBtn"><i class="icon-remove"></i></a>
			</div>
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label" >Title
						<div class="controls">
							<input type="text" class="input-xlarge" value="<%- jsonModel.title %>" />
							<p class="help-block">
								the widget's title
							</p>
						</div>
					</label>
				</div>
				<div class="control-group">
					<label class="control-label">Data Source</label>
					<div class="controls data-source">
						<div class="radio">
							<input type="radio"  name="data_source"/>
						</div>
						<div class="inputWrapper">
							<label><b>Service ID</b>
								<br />
								id used by an app on your own server to push updates
								<input type="text" name="service_id" class="input-xlarge" value="<%- jsonModel.service_id ? jsonModel.service_id : '' %>" />
							</label>
						</div>
						<div class="radio">
							<input type="radio" name="data_source"/>
						</div>
						<div class="inputWrapper">
							<label><b>Url</b>
								<br />
								address where to take the data from
								<input type="text" class="input-xlarge" name="url"  value="<%- jsonModel.url!==null ? jsonModel.url : '' %>" />
							</label>
							<label>
								<b>Poll frequency</b>
								<br />
								how often to read the url
								<input type="text" class="input-xlarge" name="poll_frequency" value="<%- jsonModel.poll_frequency %>" />
							</label>
						</div>
					</div>
				</div>
			</form>
			<ul>
				<li>
					<div class="control-group">
						<label class="control-label">Minimum value
							<div class="controls">
								<input type="text" class="input-xlarge" value="<%- jsonModel.min_value %>"/>
								<p class="help-block">
									Value representing 0%
								</p>
							</div>
						</label>
					</div>
				</li>
			</ul>
	</body>
</html>