<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="../public/css/normalize.css">
  <link rel="stylesheet/less" type="text/css" href="../public/less/style.less">
  <script src="../public/js/less.min.js" type="text/javascript"></script>
</head>
<body>

    <div id="fake-body-1" style="font-size:16px">

        <div style="width:300px;height:200px;float:left;margin-right:10px" class="widget_general">
          <div class="titleBox"><div class="title"><p>Title Box</p></div><a href="#_" class="settings"><i class="icon-cog"></i></a></div>
	          <div class="dataContainer">
	          	<p class="dataRow positive">1,350,000</p>
	          	<p class="percentage"><i class="icon-arrow-up"></i> 10%</p>
	          </div>
          </div>
        
    </div>

    <div id="fake-body-2" style="font-size:32px">
        
        <div style="width:600px;height:400px;float:left" class="widget_general">
          <div class="titleBox"><div class="title"><p>Title Box</p></div><a href="#_" class="settings"><i class="icon-cog"></i></a></div>
	          <div class="dataContainer">
	          	<p class="dataRow">1,350,000</p>
	          	<p class="percentage"><i class="icon-arrow-up"></i> 10%</p>
	          </div>
          </div>
        </div>
        
        <div id="fake-body-3" style="font-size:16px">

        <div style="width:400px;height:400px;float:left;margin-left:10px" class="widget_general">
          <div class="titleBox"><div class="title"><p>Title Box</p></div><a href="#_" class="settings"><i class="icon-cog"></i></a></div>
	          <div class="dataContainer">
	          	<div class="ledWrapper ok">
                <div class="led">
                  <span></span>
                </div>
                <p>Ok</p>
              </div>
              <div class="ledWrapper error">
                 <div class="led">
                  <span></span>
                </div>
                <p>Error</p>
              </div>
              <div class="ledWrapper  warning">
                <div class="led">
                  <span></span>
                </div>
                 <p>Warning</p>
              </div>
	          </div>
          </div>
        
        </div>

    <div id="fake-body-4" style="font-size:16px">

        <div style="width:400px;height:400px;float:left;margin-left:10px" class="widget_general">
          <div class="titleBox"><div class="title"><p>Title Box</p></div><a href="#_" class="settings"><i class="icon-cog"></i></a></div>
            <div class="dataContainer">
              <div class="time">
                <div class="singlePart timeSx">
                  <div class="timeIntSx">
                    <div class="timePartTop">1</div>
                    <div class="timePartBottom">1</div>
                  </div><!-- 
                   --><div class="timeIntDx">
                    <div class="timePartTop">2</div>
                    <div class="timePartBottom">2</div>
                  </div>
                  <p>Hours
                  </p>
                </div>
                <div class="colon">:</div>
                <div class="singlePart timeDx">
                  <div class="timeIntSx">
                    <div class="timePartTop">3</div>
                    <div class="timePartBottom">3</div>
                  </div><!-- 
                   --><div class="timeIntDx">
                    <div class="timePartTop">0</div>
                    <div class="timePartBottom">0</div>
                  </div>
                  <p>minutes
                  </p>
                </div>
              </div>
            </div>
          </div>  
    </div>

    <div id="fake-body-5" style="font-size:16px">

        <div style="width:400px;height:400px;float:left;margin-left:10px" class="widget_general">
          <div class="titleBox"><div class="title"><p>Title Box</p></div><a href="#_" class="settings"><i class="icon-cog"></i></a></div>
            <div class="dataContainer">
              <div class="ledWrapper ledRow ok">
                <p>Ok</p>
                <div class="led">
                  <span></span>
                </div>
                
              </div>
              <div class="ledWrapper ledRow error">
                 <p>Error</p>
                 <div class="led">
                  <span></span>
                </div>
               
              </div>
              <div class="ledWrapper ledRow  warning">
                <p>Warning</p>
                <div class="led">
                  <span></span>
                </div>
              </div>

            </div>
          </div>
        
        </div>



</body>
</html>
