<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="../public/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css" />
  <link rel="stylesheet/less" type="text/css" href="../public/less/style.less">
  <script src="../public/js/less.min.js" type="text/javascript"></script>
</head>
<body>

    <div id="fake-body-1" style="font-size:16px">

        <div style="width:300px;height:200px;float:left;" class="widget-general">
          <div class="titleBox"><div class="title">Title Box</div><a href="#_" class="settings"><i class="icon-cog"></i></a></div>
	          <div class="dataContainer">
	          	<p class="dataRow positive">1,350,000</p>
	          	<p class="percentage"><i class="icon-arrow-up"></i> 10%</p>
	          </div>
          </div>
        
    </div>
        
        <div id="fake-body-3" style="font-size:16px">

        <div style="width:400px;height:400px;float:left;margin-left:10px" class="widget-general">
          <div class="titleBox"><div class="title">Title Box</div><a href="#_" class="settings"><i class="icon-cog"></i></a></div>
	          <div class="dataContainer">
	          	<div class="ledWrapper ok">
                <div class="led">
                  <span></span>
                </div>
                <p>Ok</p>
              </div>
              <div class="ledWrapper error">
                 <div class="led">
                  <span></span>
                </div>
                <p>Error</p>
              </div>
              <div class="ledWrapper  warning">
                <div class="led">
                  <span></span>
                </div>
                 <p>Warning</p>
              </div>
	          </div>
          </div>
        
        </div>

    <div id="fake-body-4" style="font-size:16px">

        <div style="width:400px;height:400px;float:left;margin-left:10px" class="widget-general">
          <div class="titleBox"><div class="title">Title Box</div><a href="#_" class="settings"><i class="icon-cog"></i></a></div>
            <div class="dataContainer">
              <div class="time">
                <div class="singlePart timeSx hours">
                  <div class="timeIntSx">
                    <div class="timePartTop value">1</div>
                    <div class="timePartBottom value">1</div>
                  </div><!-- 
                   --><div class="timeIntDx">
                    <div class="timePartTop value">2</div>
                    <div class="timePartBottom value">2</div>
                  </div>
                  <p>Hours
                  </p>
                </div>
                <div class="colon minutes">:</div>
                <div class="singlePart timeDx minutes">
                  <div class="timeIntSx">
                    <div class="timePartTop value">3</div>
                    <div class="timePartBottom value">3</div>
                  </div><!-- 
                   --><div class="timeIntDx">
                    <div class="timePartTop value">0</div>
                    <div class="timePartBottom value">0</div>
                  </div>
                  <p>minutes
                  </p>
                </div>
              </div>
            </div>
          </div>  
    </div>

    <div id="fake-body-5" style="font-size:16px">

        <div style="width:400px;float:left;margin-left:10px" class="widget-general">
          <div class="titleBox"><div class="title">Title Box</div><a href="#_" class="settings"><i class="icon-cog"></i></a></div>
            <div class="dataContainer">
              	      <ul class="leds scrollbar">
      	              	<li class="ledWrapper ledRow ok">
      	              	  <p>Marge</p>
      	              	  <div class="led">
      	              	    <span></span>
      	              	  </div>
      	              	  
      	              	</li>
      	              	<li class="ledWrapper ledRow ok">
      	              	   <p>Bart</p>
      	              	   <div class="led">
      	              	    <span></span>
      	              	  </div>
      	              	 
      	              	</li>
      	              	<li class="ledWrapper ledRow  warning">
      	              	  <p>Lisa</p>
      	              	  <div class="led">
      	              	    <span></span>
      	              	  </div>
      	              	</li>
      	              	<li class="ledWrapper ledRow  ok">
      	              	  <p>Maggie</p>
      	              	  <div class="led">
      	              	    <span></span>
      	              	  </div>
      	              	</li>
      	              	<li class="ledWrapper ledRow  error">
      	              	  <p>Homer
      	              	  	<span>Testo di prova multiriga ga ga hdus husda hudsah</span></p>
      	              	  <div class="led">
      	              	    <span></span>
      	              	  </div>
      	              	</li>
              	    </ul>
              </div>
          </div>
        
        </div>

      <div id="fake-body-6" style="font-size:16px">

        <div style="width:400px;height:400px;float:left;margin-left:10px" class="widget-general">
          <div class="titleBox"><div class="title">Title Box</div><a href="#_" class="settings"><i class="icon-cog"></i></a></div>
            <div class="dataContainer">
              <ul>
                <li class="entry">
                  <div class="imgWrapper">
                  	<div class="imgStyle"><img src="../public/images/test/spiderman.jpg" alt=""></div>
                  </div>
                  <div class="textWrapper">
                    <h4>Thype!
                    </h4>
                    <div class="message">Ancora due biglietti disponibili per sabato 3 e domenica 4. Affrettatevi!
                    </div>
                    <span class="date">10.02.2012 - 19.45</span>
                  </div>
                </li>
                <li class="entry">
                  <div class="imgWrapper">
                  	<div class="imgStyle"><img src="../public/images/test/spiderman.jpg" alt=""></div>
                  </div>
                  <div class="textWrapper">
                    <h4>Thype!
                    </h4>
                    <div class="message">Ancora due biglietti disponibili per sabato 3 e domenica 4. Affrettatevi!
                    </div>
                    <span class="date">10.02.2012 - 19.45</span>
                  </div>
                </li>
              </ul>

            </div>
          </div>
        
        </div>

      <div id="fake-body-7" style="font-size:16px">

        <div style="width:100px;height:auto;float:left;margin-left:10px" class="widget-general widget-date">
          <div class="titleBox"><div class="title">2012</div><a href="#_" class="settings"><i class="icon-cog"></i></a></div>
            <div class="dataContainer calendar full-space">
              <div class="time calendar">
                <div class="singlePart timeSx">
                  <div class="timeIntSx">
                    <div class="timePartTop">12</div>
                    <div class="timePartBottom">12</div>
                  </div>
                  <p>Dec
                  </p>
                </div>
              </div>

            </div>
          </div>
        
        </div>
        
      <div id="fake-body-8" style="font-size:16px">

        <div style="width:150px;height:auto;float:left;margin-left:10px" class="widget-general widget-noiselevel">
          <div class="titleBox"><div class="title">Battery</div><a href="#_" class="settings"><i class="icon-cog"></i></a></div>
            <div class="dataContainer">
				<div class="mask">
					<?xml version="1.0" encoding="utf-8"?>
					<!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
					<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="53.693px" height="100px" viewBox="0 0 53.693 100" enable-background="new 0 0 53.693 100" xml:space="preserve">
					<path fill="#26241F" d="M0,0v100h53.693V0H0z M48.929,97.613H4.765c-1.443,0-2.613-1.17-2.613-2.613s1.17-2.613,2.613-2.613h44.164
						c1.443,0,2.613,1.17,2.613,2.613S50.372,97.613,48.929,97.613z M48.929,87.613H4.765c-1.443,0-2.613-1.17-2.613-2.613
						s1.17-2.613,2.613-2.613h44.164c1.443,0,2.613,1.17,2.613,2.613S50.372,87.613,48.929,87.613z M48.929,77.613H4.765
						c-1.443,0-2.613-1.17-2.613-2.613s1.17-2.613,2.613-2.613h44.164c1.443,0,2.613,1.17,2.613,2.613S50.372,77.613,48.929,77.613z
						 M48.929,67.613H4.765c-1.443,0-2.613-1.17-2.613-2.613s1.17-2.613,2.613-2.613h44.164c1.443,0,2.613,1.17,2.613,2.613
						S50.372,67.613,48.929,67.613z M48.929,57.613H4.765c-1.443,0-2.613-1.17-2.613-2.613s1.17-2.613,2.613-2.613h44.164
						c1.443,0,2.613,1.17,2.613,2.613S50.372,57.613,48.929,57.613z M48.929,47.613H4.765c-1.443,0-2.613-1.17-2.613-2.613
						s1.17-2.613,2.613-2.613h44.164c1.443,0,2.613,1.17,2.613,2.613S50.372,47.613,48.929,47.613z M48.929,37.613H4.765
						c-1.443,0-2.613-1.17-2.613-2.613s1.17-2.613,2.613-2.613h44.164c1.443,0,2.613,1.17,2.613,2.613S50.372,37.613,48.929,37.613z
						 M48.929,27.613H4.765c-1.443,0-2.613-1.17-2.613-2.613s1.17-2.613,2.613-2.613h44.164c1.443,0,2.613,1.17,2.613,2.613
						S50.372,27.613,48.929,27.613z M48.929,17.613H4.765c-1.443,0-2.613-1.17-2.613-2.613s1.17-2.613,2.613-2.613h44.164
						c1.443,0,2.613,1.17,2.613,2.613S50.372,17.613,48.929,17.613z M48.929,7.613H4.765c-1.443,0-2.613-1.17-2.613-2.613
						s1.17-2.613,2.613-2.613h44.164c1.443,0,2.613,1.17,2.613,2.613S50.372,7.613,48.929,7.613z"/>
					</svg>
				</div>
				<div class="levelContainer positive">
					<div class="level"><div class="value"></div></div>
					<div class="percentageBox">20%</div>
				</div>
            </div>
          </div>
        
        </div>

      <div id="fake-body-9" style="font-size:18px">

        <div style="width:263px;height:317px;float:left;margin-left:10px" class="widget-general widget-gauge">
          <div class="titleBox"><div class="title">Title Gauge</div><a href="#_" class="settings"><i class="icon-cog"></i></a></div>
            <div class="dataContainer counter">
            	<div class="pointerMask">
					<?xml version="1.0" encoding="utf-8"?>
					<!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
					<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="183.25px" height="14.485px" viewBox="0 0 183.25 14.485" enable-background="new 0 0 183.25 14.485" xml:space="preserve">
					<g>
						<path fill="none" stroke="#000000" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
							M91.177,14.485L0,6.994L91.216,0c0,0,7.724,0.513,7.704,7.378C98.901,14.415,91.177,14.485,91.177,14.485z"/>
						<path fill="#FFFFFF" d="M91.177,14.485L0,6.994L91.216,0c0,0,7.724,0.513,7.704,7.378C98.901,14.415,91.177,14.485,91.177,14.485z"
							/>
						
							<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="878.8965" y1="3157.5576" x2="878.8965" y2="3058.6328" gradientTransform="matrix(0.0027 -1 1 0.0027 -3060.9136 877.4594)">
							<stop  offset="0" style="stop-color:#0D0B08"/>
							<stop  offset="1" style="stop-color:#0D0B08;stop-opacity:0"/>
						</linearGradient>
						<path opacity="0.2" fill="url(#SVGID_1_)" d="M91.177,14.485L0,6.994L91.216,0c0,0,7.724,0.513,7.704,7.378
							C98.901,14.415,91.177,14.485,91.177,14.485z"/>
					</g>
					<circle fill="#333333" cx="91.625" cy="7.243" r="2.518"/>
					</svg>



            	</div>
            	
				<div class="counterMask">
					<?xml version="1.0" encoding="utf-8"?>
					<!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
					<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="191px" height="131.82px" viewBox="0 0 191 131.82" enable-background="new 0 0 191 131.82" xml:space="preserve">
					<g>
						<defs>
							<filter id="Adobe_OpacityMaskFilter" filterUnits="userSpaceOnUse" x="0" y="99.82" width="191" height="32">
								<feColorMatrix  type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
							</filter>
						</defs>
						<mask maskUnits="userSpaceOnUse" x="0" y="99.82" width="191" height="32" id="SVGID_1_">
							<g filter="url(#Adobe_OpacityMaskFilter)">
								
									<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="-1957.0005" y1="-239.4297" x2="-2148.0005" y2="-239.4297" gradientTransform="matrix(-1 0 0 -1 -1957 -123.6104)">
									<stop  offset="0.05" style="stop-color:#000000"/>
									<stop  offset="0.4" style="stop-color:#FFFFFF"/>
									<stop  offset="0.6" style="stop-color:#FFFFFF"/>
									<stop  offset="0.95" style="stop-color:#000000"/>
								</linearGradient>
								<rect y="99.82" fill="url(#SVGID_2_)" width="191" height="32"/>
							</g>
						</mask>
						
							<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="-2052.5005" y1="-223.4297" x2="-2052.5005" y2="-255.4297" gradientTransform="matrix(-1 0 0 -1 -1957 -123.6104)">
							<stop  offset="0" style="stop-color:#0D0B08"/>
							<stop  offset="1" style="stop-color:#0D0B08;stop-opacity:0"/>
						</linearGradient>
						<rect y="99.82" mask="url(#SVGID_1_)" fill="url(#SVGID_3_)" width="191" height="32"/>
						<g>
							<line opacity="0.3" fill="none" stroke="#000000" x1="0" y1="97.195" x2="191" y2="97.195"/>
							<line opacity="0.3" fill="none" stroke="#FFFFFF" x1="0" y1="98.195" x2="191" y2="98.195"/>
						</g>
						<g>
							<g>
								<g opacity="0.75">
									<g opacity="0.15">
										<path fill="#FFFFFF" d="M95.833,0C43.452,0,0.962,42.329,0.689,94.646h190.287C190.705,42.329,148.214,0,95.833,0z"/>
									</g>
									<path fill="#191715" d="M95.833,1C43.452,1,0.962,43.329,0.689,95.646h190.287C190.705,43.329,148.214,1,95.833,1z"/>
								</g>
								<path opacity="0.5" fill="#0D0B08" d="M95.833,10.302c-47.619,0-86.246,38.48-86.494,86.042h172.988
									C182.08,48.783,143.452,10.302,95.833,10.302z"/>
							</g>
							<g>
								<g>
									<path id="segment4" class="segments" fill="#4BB3D2" d="M182.327,96.344c-0.119-22.893-9.146-43.665-23.772-59.071L99.483,96.344H182.327z"/>
									<path id="segment1" class="segments" fill="#4BB3D2" d="M9.339,96.344H92.03L33.037,37.351C18.455,52.75,9.458,73.491,9.339,96.344z"/>
									<path id="segment2" class="segments" fill="#4BB3D2" d="M95.757,10.304C71.05,10.326,48.785,20.72,33.037,37.351L92.03,96.344h3.727V10.304z"/>
									<path id="segment3" class="segments" fill="#4BB3D2" d="M99.483,96.344l59.071-59.071c-15.76-16.603-38.022-26.971-62.722-26.971
										c-0.025,0-0.051,0.002-0.076,0.002v86.04H99.483z"/>
								</g>
								<g>
									<path fill="none" stroke="#0D0B08" d="M182.327,96.344c-0.119-22.893-9.146-43.665-23.772-59.071L99.483,96.344H182.327z"/>
									<path fill="none" stroke="#0D0B08" d="M9.339,96.344H92.03L33.037,37.351C18.455,52.75,9.458,73.491,9.339,96.344z"/>
									<path fill="none" stroke="#0D0B08" d="M95.757,10.304C71.05,10.326,48.785,20.72,33.037,37.351L92.03,96.344h3.727V10.304z"/>
									<path fill="none" stroke="#0D0B08" d="M99.483,96.344l59.071-59.071c-15.76-16.603-38.022-26.971-62.722-26.971
										c-0.025,0-0.051,0.002-0.076,0.002v86.04H99.483z"/>
								</g>
								<g opacity="0.5">
									<radialGradient id="SVGID_4_" cx="95.833" cy="95.3237" r="89.3943" gradientUnits="userSpaceOnUse">
										<stop  offset="0" style="stop-color:#0D0B08;stop-opacity:0"/>
										<stop  offset="1" style="stop-color:#0D0B08"/>
									</radialGradient>
									<path fill="url(#SVGID_4_)" d="M182.327,96.344c-0.119-22.893-9.146-43.665-23.772-59.071L99.483,96.344H182.327z"/>
									<radialGradient id="SVGID_5_" cx="95.833" cy="95.3237" r="89.3943" gradientUnits="userSpaceOnUse">
										<stop  offset="0" style="stop-color:#0D0B08;stop-opacity:0"/>
										<stop  offset="1" style="stop-color:#0D0B08"/>
									</radialGradient>
									<path fill="url(#SVGID_5_)" d="M9.339,96.344H92.03L33.037,37.351C18.455,52.75,9.458,73.491,9.339,96.344z"/>
									<radialGradient id="SVGID_6_" cx="95.833" cy="95.3237" r="89.3943" gradientUnits="userSpaceOnUse">
										<stop  offset="0" style="stop-color:#0D0B08;stop-opacity:0"/>
										<stop  offset="1" style="stop-color:#0D0B08"/>
									</radialGradient>
									<path fill="url(#SVGID_6_)" d="M95.757,10.304C71.05,10.326,48.785,20.72,33.037,37.351L92.03,96.344h3.727V10.304z"/>
									<radialGradient id="SVGID_7_" cx="95.833" cy="95.3237" r="89.3943" gradientUnits="userSpaceOnUse">
										<stop  offset="0" style="stop-color:#0D0B08;stop-opacity:0"/>
										<stop  offset="1" style="stop-color:#0D0B08"/>
									</radialGradient>
									<path fill="url(#SVGID_7_)" d="M99.483,96.344l59.071-59.071c-15.76-16.603-38.022-26.971-62.722-26.971
										c-0.025,0-0.051,0.002-0.076,0.002v86.04H99.483z"/>
								</g>
							</g>
							<g display="none">
								<g display="inline">
									<g opacity="0.1">
										<polygon fill="#FFFFFF" points="88.848,108.445 81.86,96.344 88.848,84.244 102.818,84.244 109.806,96.344 102.818,108.445 
																"/>
										<polygon fill="#FFFFFF" points="88.848,109.445 81.86,97.344 88.848,85.244 102.818,85.244 109.806,97.344 102.818,109.445 
																"/>
									</g>
									<g>
										<g>
											<polygon points="88.848,107.445 81.86,95.344 88.848,83.244 102.818,83.244 109.806,95.344 102.818,107.445 						"/>
										</g>
										<polygon fill="#1A1A1A" points="88.848,108.445 81.86,96.344 88.848,84.244 102.818,84.244 109.806,96.344 102.818,108.445 
																"/>
									</g>
								</g>
							</g>
							<g>
								<g opacity="0.75">
									<g opacity="0.5">
										<path fill="#FFFFFF" d="M112.024,93.8c0-8.987-7.289-16.271-16.271-16.271c-8.987,0-16.264,7.283-16.264,16.271
											c0,8.986,7.276,16.264,16.264,16.264C104.735,110.064,112.024,102.787,112.024,93.8z"/>
									</g>
									<path fill="#191715" d="M112.024,92.8c0-8.987-7.289-16.271-16.271-16.271c-8.987,0-16.264,7.283-16.264,16.271
										c0,8.986,7.276,16.264,16.264,16.264C104.735,109.064,112.024,101.787,112.024,92.8z"/>
								</g>
								<path opacity="0.5" fill="#191715" d="M112.024,92.8c0-8.987-7.289-16.271-16.271-16.271c-8.987,0-16.264,7.283-16.264,16.271
									c0,8.986,7.276,16.264,16.264,16.264C104.735,109.064,112.024,101.787,112.024,92.8z"/>
							</g>
							<circle fill="#333333" cx="95.757" cy="92.797" r="2.517"/>
							<polygon fill="none" points="95.757,96.344 92.03,96.344 95.757,100.071 		"/>
							<polygon fill="none" points="95.757,100.071 99.483,96.344 95.757,96.344 		"/>
						</g>
					</g>
					</svg>

				</div>
				<div class="percentageBox negative">75%</div>
            </div>
          </div>
        
        </div>
        
        
            <div id="fake-body-10" style="font-size:16px">

        <div style="width:400px;height:200px;float:left;margin-left:10px" class="widget-general">
          <div class="titleBox"><div class="title">Title Box</div><a href="#_" class="settings"><i class="icon-cog"></i></a></div>
            <div class="dataContainer">
              
              <ul>
              	<li class="item2 positive">
              	  <i class="icon-arrow-up"></i>
              	  <p>writeonit.org </p><span>10.000</span>              	  
              	</li>
              	<li class="item2 negative">
              	  <i class="icon-arrow-down"></i>
              	  <p>funonit.org </p><span>-2.000</span>
              	  
              	</li>
              </ul>


            </div>
          </div>
        
        </div>
        
       <div id="fake-body-11" style="font-size:16px">

        <div style="width:400px;height:auto;float:left;margin-left:10px" class="widget-general">
          <div class="titleBox"><div class="title">2012</div><a href="#_" class="settings"><i class="icon-cog"></i></a></div>
            <div class="dataContainer">
              <div class="table">
				<div class="titRow">
              		<div class="col1">URL Referer</div>
              		<div class="col2">Visits</div>
              		<div class="col3">Time</div>
              	</div>
              	<ul>
              		<li class="item2">
              			<a href="#_" class=" col1">perceptionapparel.tumblr.com/post/10922115896/our-two-new-releases-check-them-out-at-our</a>
              			<span class="col2">20.000</span>
              			<span class="col3">00:05:38</span>
              		</li>
              		<li class="item2">
              			<a href="#_" class=" col1">perceptionapparel.tumblr.com/post/10922115896/our-two-new-releases-check-them-out-at-our</a>
              			<span class="col2">20.000</span>
              			<span class="col3">00:05:38</span>
              		</li>
              		<li class="item2">
              			<a href="#_" class=" col1">perceptionapparel.tumblr.com/post/10922115896/our-two-new-releases-check-them-out-at-our</a>
              			<span class="col2">20.000</span>
              			<span class="col3">00:05:38</span>
              		</li>
              	</ul>
              </div>
            </div>
          </div>
        </div>
        
        <!-- <div id="video1" style="font-size:16px">
         <div style="width:400px;float:left;margin-left:10px" class="widget-general">
          <div class="titleBox"><div class="title"><i class="icon-facetime-video"></i><p>Video</p></div><a href="#_" class="settings"><i class="icon-cog"></i></a></div>
            <div class="dataContainer video">
            	<div class="videoFrame">
            		<iframe width="100%" height="100%" src="http://www.youtube.com/embed/wHNfesQGmtM" frameborder="0" allowfullscreen></iframe>
            	</div>
            </div>
          </div>
        </div>
        
       <div id="video2" style="font-size:16px">
         <div style="width:600px;float:left;margin-left:10px" class="widget-general">
          <div class="titleBox"><div class="title"><i class="icon-facetime-video"></i><p>Video</p></div><a href="#_" class="settings"><i class="icon-cog"></i></a></div>
            <div class="dataContainer video">
            	<div class="videoFrame">
					<iframe src="http://player.vimeo.com/video/40136171?title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            	</div>
            </div>
          </div>
        </div> -->
        
         


<script src="../public/js/lib/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="../public/js/lib/jquery.lionbars.0.3.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function(){	
		$( ".scrollbar").lionbars({
			autohide: true
		});
		$(".scrollbar").on("mouseenter",function(){
			$(".lb-v-scrollbar").show();
		})
	});
</script>
</body>
</html>
